html {
    cursor: default;
    text-size-adjust: none;
}

::selection {
    all:inherit;
    color: #CD0000;
}

body {
    all: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    padding-bottom: 1em;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
}

.main {
    all: inherit;
    background-color: transparent;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}

.section {
    all: inherit;
    counter-increment: section;
    font-size: 1em;
    text-indent: 5%;
}

.section::before {
    content: "Section "counter(section) ". ";
    font-weight: bold;
}

.header {
    all: inherit;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.article {
    all: inherit;
    counter-reset: section;
    counter-increment: article;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.article::before {
    content: "Article "counter(article, upper-roman) " - ";
}

img {
    all: inherit;
    max-height: 10em;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link {
    all: inherit;
    color: #CD0000;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}