:root {
    --bordersize: 0.3em;
    --squaresize: 7.5em;
    --iconsize: 5em;
}
* {
    margin: 0;
    padding: 0;
}
.game {
    display: flex;
    justify-content: center;
    position: relative;
    top: 5em;
}
.row {
    height: var(--squaresize);
    box-sizing: border-box;
}
.field {
    display: inline-block;
    width: var(--squaresize);
    height: var(--squaresize);
    box-sizing: border-box;
    background-position: center;
    background-size: var(--iconsize);
    background-repeat: no-repeat;
}
.field:hover {
    background-color: #424242;
}
#field1 {
    border-right: var(--bordersize) solid black;
    border-bottom: var(--bordersize) solid black;
}
#field2 {
    border-bottom: var(--bordersize) solid black;
}
#field3 {
    border-left: var(--bordersize) solid black;
    border-bottom: var(--bordersize) solid black;
}
#field4 {
    border-right: var(--bordersize) solid black;
}
#field6 {
    border-left: var(--bordersize) solid black;
}
#field7 {
    border-right: var(--bordersize) solid black;
    border-top: var(--bordersize) solid black;
}
#field8 {
    border-top: var(--bordersize) solid black;
}
#field9 {
    border-left: var(--bordersize) solid black;
    border-top: var(--bordersize) solid black;
}